/* Products.css */
.productos {
  padding: 50px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.titulo-productos {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.producto-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.producto-imagen {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
  margin-left: 30px; /* Aumenta el margen izquierdo */
}

.producto-imagen:hover {
  transform: scale(1.05);
}

.producto-titulo {
  font-size: 1.8em; /* Aumenta el tamaño de la fuente */
  margin-top: 15px; /* Aumenta el margen superior */
  color: #27ae60;
  margin-bottom: 10px; /* Aumenta el margen inferior */
}

.producto-descripcion {
  color: #666;
  font-size: 1.2em; /* Aumenta el tamaño de la fuente */
  margin-top: 10px; /* Aumenta el margen superior */
}
